<li>
	{{burger_name}}

	<button class="change-noshed" data-id="{{id}}" data-newnosh="{{noshed}}">
		{{#if noshed}}EAT THIS!{{else}}Good Stuff?{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}">EW. BYE!</button>
</li>