<li>
	{{burger_name}}

	<button class="change-noshed" id="burg-button" data-id="{{id}}" data-newnosh="{{noshed}}">
		{{#if noshed}}NOSH IT!{{else}}Put'er Back On The Menu{{/if}}
	</button>

	{{!-- <button class="delete-burg" data-id="{{this.id}}">EW. BYE!</button> --}}
</li>
